.main-bar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 50%;
  height: 30px;
  margin-top: 15px;
}

.input-pokemon {
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px grey;
}

.search-pokemon {
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px grey;
}

.search-pokemon:hover {
  background-color: grey;
  transition: 0.3s;
}
