* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  color: #333;
}

.center {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgb(95, 163, 63) 0%, #ffffff 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.top-center {
  display: flex;
  justify-content: center;
  height: 6vh;
  width: 100%;
  border-bottom: 1px solid rgb(185, 185, 185);
  border-left: 0;
}

.input-pokemon {
  outline: none !important;
  width: 100%;
  font-family: "pokemon_solid", sans-serif;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background: transparent;
  text-align: center;
  font-size: 1rem;
  color: inherit;
  transition: border-color 0.3s ease;
}

.input-pokemon:focus {
  border-color: #76c7c0;
}

.main-center {
  height: 94%;
  width: 100%;
  display: flex;
  padding: 20px;
}

.pokemon-image {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(185, 185, 185);
  text-align: center;
  height: 100%;
  width: 50%;
  padding: 10px;
}

.pokemon-image-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "pokemon_solid", sans-serif;
  text-align: center;
  height: 25%;
  width: 100%;
  font-size: 40;
}

.pokemon-image-image-before{
  height: 100%;
  width: 20%;
  float:left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.before-picture{
  width: 50%;
  opacity: 50%;
}

.before-picture:hover{
  opacity: 100%;
}

.pokemon-image-image-after{
  height: 100%;
  width: 20%;
  float:right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shiny-button{
  height: 19%;
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shiny-normal{
  height: 60%;
  width: 10%;
  opacity: 50%;
}

.shiny-normal:hover{
  opacity: 100%;
}

.after-picture{
  width: 50%;
  opacity: 50%;
}

.after-picture:hover{
  opacity: 100%;
}

.pokemon-image-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pokemon-picture {
  width: 50%;
  object-fit: fill;
}

.pokemon-name-title {
  font-family: "pokemon_solid", sans-serif;

  font-size: 3vw;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.pokemon-id {
  font-family: "pokemon_solid", sans-serif;
  margin-top: 30%;
  font-size: 150;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.pokemon-form {
  font-family: "pokemon_solid", sans-serif;
  height: 100%;
  width: 15vw;
  color: #555;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.pokemon-form:hover {
  transform: scale(1.05);
}

.type-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "pokemon_solid", sans-serif;
  text-align: center;
  height: 25%;
  width: 100%;
  font-size: 40;
}

.type-name-container {
  height: 50%;
  width: 100%;
}

.type-name {
  font-family: "pokemon_solid", sans-serif;
  font-size: 3vw;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.image-container {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weak-name {
  opacity: 100%;
}

.type-image {
  max-height: 7vh;
  max-width: 7vw;
  height: auto;
  width: auto;
  transition: transform 0.3s ease;
}

.type-image:hover {
  transform: scale(1.05);
}

.type-image2 {
  margin-left: 7%;
  max-height: 7vh;
  max-width: 7vw;
  height: auto;
  width: auto;
  transition: transform 0.3s ease;
}

.type-image2:hover {
  transform: scale(1.05);
}

.main-stats-container {
  height: 65%;
  width: 100%;
  display: flex;
  align-items: center;
}

.progress-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 15%;
  padding: 10px;
}

.progress-container {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.progress {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.progress-bar {
  width: calc(var(--progress-value) / 255 * 100%);
  height: 100%;
  background-color: var(--progress-color, #7AC74C) !important; /* Default color */
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: 5px; /* Optional: Rounded corners */
}

.pokemon-stats {
  height: 100%;
  width: 50%;
  float: right;
  padding: 10px;
}

.stat {
  display: inline-flex;
}

.container {
  font-family: "pokemon_solid", sans-serif;
  max-height: 1vw;
  height: auto;
  width: 100%;
  margin-bottom: 10%;
  padding: 20px;
  margin: 20px;
}

.container-label {
  font-family: "pokemon_solid", sans-serif;
  opacity: 60%;
  font-size: 0.8vw;
  margin-left: 15%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: "pokemon_hollow";
  src: url("/Resources/fonts/Pokemon\ Hollow.ttf");
  font-family: "pokemon_solid";
  src: url("/Resources/fonts/Pokemon\ Solid.ttf");
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .left,
  .center,
  .right {
    width: 100%;
    height: auto;
  }

  .main-center {
    flex-direction: column;
  }

  .pokemon-image,
  .pokemon-stats {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
