.main-bar {
  height: 60px;
  width: 100%;
  padding-top: 10px;
  padding-left: 30%;
  display: flex;
}

.left-right {
  height: 100%;
  width: 100%;
  background-color: #e4000f;
}

.center {
  height: 100%;
  width: 60%;
  margin-left: 20%;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  background-color: rgb(239, 237, 237);
}

.top-center {
  height: 6%;
  width: 100%;
  border-bottom: 2px solid black;
}

.input-pokemon {
  font-family: Montserrat;
  border: none;
  background: transparent;
  padding: 7px 8px;
  font-size: 15px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

.input-pokemon::placeholder {
  color: #e4000f8e;
}

.search-button {
  text-indent: -999;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

.search-button:hover {
  opacity: 1;
}

.search-button:focus,
.input-pokemon:focus {
  box-shadow: 0 0 3px 0 #e4000f8e;
  border-color: #e4000f8e;
  outline: none;
}

.main-center {
  height: 94%;
  width: 100%;
}

.pokemon-image {
  border-right: 2px solid black;
  text-align: center;
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
}

.pokemon-picture {
  height: 60%;
}

.pokemon-name-title {
  font-family: Montserrat;
  font-size: 50;
  opacity: 30%;
}

.pokemon-id {
  font-family: Montserrat;
  font-size: 150;
  opacity: 30%;
}

.pokemon-form {
  font-family: Montserrat;
  float: right;
  height: 100%;
  width: 23%;
  color: #555;
  display: flex;
  border: 1px solid currentColor;
  border-radius: 5px;
}
